.App {
  text-align: center;
  height: 98vh;
  width: 100vw;
  padding-top: 2vh;
  background-color: #0b0c10;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.Navigation {
  height: 8%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px;
  background-color: rgba(31 , 40, 51, 0.5);
}

.button {
  float: right;
  line-height: 80%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 1.5rem;
  font-family: 'Rajdhani';
  padding: 6px;
  font-weight: 1000;
  border-left: 0.5px solid white;
  border-bottom: 0.5px solid white;
}