.App {
  text-align: center;
  height: 98vh;
  width: 100vw;
  padding-top: 2vh;
  background-color: #0b0c10;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.Navigation {
  height: 6%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px;
  background-color: #1f2833;
}

.button {
  float: right;
  line-height: 80%;
  margin-left: 0.75%;
  margin-right: 0.75%;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Audiowide', cursive;
  border: 1px solid rgba(149, 232, 226, 0.25);
  padding: 6px;
}