.UploadPage {
    margin: 0 auto;
    margin-top: 2%;
    width: 50%;
    height: 80%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    font-family: 'Rajdhani';
    position: relative;
}


input[type="file"] {
    display: none;
}

.file-upload, button {
    width: 30%;
    font-family: 'Rajdhani';
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 10px 10px;
    background-color: transparent;
    color: white;
}

.file-upload:hover, button:hover
{
    color: black;
    background-color: white;
}

.footer {
    width: 100%;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
}

.footer-field {
    color: white;
    display: flex;
}

.footer-key {
    width: 20%;
    text-align: right;
    color: white;
    font-weight: 1000;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding-right: 2%;
}

.footer-value {
    width: 80%;
    text-align: left;
    padding-left: 2%;
}

.preview {
    color: white;
}